*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: black;
}
h2{
    font-size: 50px;
    text-align: left;
    padding:30px 100px 30px;
}
nav{
    
    align-items: center;
    list-style: none;
    background-color: #fff;
    height: 85px;
    width: 100%;
    border-bottom: #dbdbdb 1px solid;
}
.navLeft{
    float: left;
}
.navRight{
    float:right;
    margin-right: 60px;
    
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}
nav ul li a{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}

.logo{
    height:80px;
    line-height: 80px;
    padding: 0 80px 0 80px;
    float: left;
}

.main{
    padding: 50px 0 10px 100px;
    height: 85vh;
    background-image:url(./top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.title{
    margin: 10px 0 0 0;
    font-size: 70px;
    font-weight: 800;
    line-height: 85px;
    text-align: left;
}
.subtitle{
    font-size: 18px;
    font-weight:600;
    margin: 35px 0 0 0;
}

form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.formSelect{
    margin: 120px auto auto 0;
    font-weight: 700;
    border: 1px rgb(216, 216, 216) solid;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
}
.select2{
    height: 48px;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: rgb(216, 216, 216);
}
.btn{
    line-height: 48px;
    border: none;
    color: white;
    background-color:#0036ce;
    padding: 0 5px 0 5px;
    font-size:14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor:unset;
}
.list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    
}
.listing{
    background-color: #fff;  
    border-radius: 8px;
    box-shadow: 0 2px 9px 0px rgb(34 12 43 / 20%);
    padding: 10px 10px 10px 10px;
    margin: auto auto 35px auto;
    height: 380px;
    width: min-content;
    flex: 0 0 30%;
}
.listImg{
    padding:10px;
    width: 280px;
    display: block;
    margin: 0 auto 0 auto;
    
}
.listingBody{
    padding: 10px;
}
.listingTitle{
    font-size: 25px;
    line-height: 30px;
}
.listingPrice{
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;

}
.listingBody2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
